#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.rightside-content {
  position: absolute;
  top: 70px;
  right: 95px;
}

@media (max-width: 768px) {
  .rightside-content {
    display: none;
  }
}
