#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.feed-section {
  margin-left: 16em;
  margin-top: -3em;
}
.custom-bottom-nav-action {
  min-width: 0 !important;
}
