#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.rightside-content {
  position: absolute;
  top: 70px;
  right: 95px;
}
@media (min-width: 1268px) {
  .suggested-users {
    display: none;
  }
}

.feed-section {
  margin-left: 16em;
  margin-top: -16em;
}
